@model FurnitureListViewModel

<form method="post">
    <style>
        .container {
            width: 90%;
            padding-right: 10px;
            padding-left: 10px;
            margin-right: auto;
            margin-left: auto;
        }
        
        .col-sm-1 {
            -ms-flex: 0 0 2%;
            flex: 0 0 2%;
            max-width: 2%;
        }
        .border {
            border-width:2px;
            border-color:white;
        }
        .number
        {
          width:12em;
        }
    </style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                <button class="btn btn-success col-md-12" type="submit">Фильтрация</button><br><br>
                <a class="btn btn-primary col-md-12" data-toggle="collapse"  data-target="#hide0">Акции</a>
                <br><br>
                <div class="panel-collapse collapse in row" id="hide0">
                    <div class="table-responsive col-md-12">
                        <table class="table table-info table-bordered">
                            <tbody class="form-check">
                                @{
                                    foreach (var el in  ViewBag.Stock)
                                    {
                                        <tr>
                                            <td scope="row">
                                                <input class="form-check-input" type="checkbox" name="stockFilter" value="@el.StockName" id="@el.StockName">
                                                <label class="form-check-label" for="@el.StockName">@el.StockName</label>
                                            </td>
                                        </tr>
                                    }
                                }
                            <tbody>
                        </table>
                    </div>
                </div>
                <a class="btn btn-primary col-md-12" data-toggle="collapse"  data-target="#hide">Вид мебели</a>
                <br><br>
                <div class="panel-collapse collapse in row" id="hide">
                    <div class="table-responsive col-md-12">
                        <table class="table table-info table-bordered">
                            <tbody class="form-check">
                                @{
                                    foreach (var el in  ViewBag.Kinds)
                                    {
                                        <tr>
                                            <td scope="row">
                                                <input class="form-check-input" type="checkbox" name="kindFilter" value="@el.Kind" id="@el.Kind">
                                                <label class="form-check-label" for="@el.Kind">@el.Kind</label>
                                            </td>
                                        </tr>
                                    }
                                }
                            <tbody>
                        </table>
                    </div>
                </div>
                <a class="btn btn-primary col-md-12" data-toggle="collapse" data-target="#hide1">Тип мебели</a>
                <br><br>
                <div class="panel-collapse collapse in row" id="hide1">
                    <div class="table-responsive col-md-12">
                        <table class="table table-bordered">
                            <tbody class="form-check">
                                @{
                                    foreach (var el in ViewBag.Types)
                                    {
                                        <tr>
                                            <td scope="row">
                                                <input class="form-check-input" type="checkbox" name="typeFilter" value="@el.Type" id="@el.Type">
                                                <label class="form-check-label" for="@el.Type">@el.Type</label>
                                            </td>
                                        </tr>
                                    }
                                }
                            <tbody>
                        </table>
                    </div>
                </div>
                <a class="btn btn-primary col-md-12" data-toggle="collapse" data-target="#hide2">Основной цвет</a>
                <br><br>
                <div class="panel-collapse collapse in row" id="hide2">
                    <div class="table-responsive col-md-12">
                        <table class="table table-bordered">
                            <tbody class="form-check">
                                @{
                                    foreach (var el in ViewBag.Colors)
                                    {
                                        <tr>
                                            <td scope="row">
                                                <input class="form-check-input col-md-2" type="checkbox" value="@el.ColorName" name="colorFilter"  id="@el.ColorName ">
                                                <label class="form-check-label col-md-7" for="@el.ColorName">@el.ColorName</label>
                                                <input name="color" type="color" style="text-align: center; font-weight: bolder;" value="@el.Color" class="col-md-3" disabled>
                                            </td>
                                        </tr>
                                    }
                                }
                                <tbody>
                        </table>
                    </div>
                </div>
                <a class="btn btn-primary col-md-12" data-toggle="collapse" data-target="#hide3">Цена</a>
                <br><br>
                <div class="panel-collapse collapse in row" id="hide3">
                    <div class="table-responsive col-md-12">
                        <table class="table table-bordered">
                            <tbody class="form-check">
                                <tr>
                                    <td scope="row">
                                        От <input type="number" class="number" min="0" value="0" name="price1"/> Руб.<br/><br/>
                                        До <input type="number" class="number" min="0" value="0" name="price2" /> Руб.
                                    </td>
                                </tr>
                                <tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                @{
                    int carousel = 1;
                    foreach (var el in Model.allFurniture)
                    {
                        <div class="alert alert-info col-md-3 border">
                            <div class="row">
                                <div id="@carousel" class="carousel slide" data-ride="carousel" style="max-height:20em">
                                    <ol class="carousel-indicators">
                                    @{
                                        int p = 0;
                                        if(System.IO.File.Exists(ViewData["Path"] + el.Photo1))
                                        {
                                            <li data-target="@carousel" data-slide-to="0" class="active"></li>
                                            p++;
                                        }
                                        if(System.IO.File.Exists(ViewData["Path"] + el.Photo2))
                                        {
                                            <li data-target="@carousel" data-slide-to="1"></li>
                                            p++;
                                        }
                                        if(System.IO.File.Exists(ViewData["Path"] + el.Photo3))
                                        {
                                            <li data-target="@carousel" data-slide-to="2"></li>
                                            p++;
                                        }
                                        if(p==0)
                                        {
                                           <li data-target="@carousel" data-slide-to="1" class="active"></li>
                                        }
                                    }
                                    </ol>
                                    <div class="carousel-inner" style="max-height:20em">
                                    @{
                                            if (p == 0)
                                            {
                                                <div class="item active">
                                                    <img src="~/img/No Photo/no-photo.jpg" class="center-block"  style="max-height:20em">
                                                </div>
                                            }
                                            else
                                            {
                                                if (System.IO.File.Exists(ViewData["Path"] + el.Photo1))
                                                {
                                                    <div class="item active">
                                                        <img src="@el.Photo1" class="center-block"  style="max-height:20em">
                                                    </div>
                                                }
                                                if (System.IO.File.Exists(ViewData["Path"] + el.Photo2))
                                                {
                                                    <div class="item">
                                                        <img src="@el.Photo2" class="center-block"  style="max-height:20em">
                                                    </div>
                                                }
                                                if (System.IO.File.Exists(ViewData["Path"] + el.Photo3))
                                                {
                                                    <div class="item">
                                                        <img src="@el.Photo3" class="center-block"  style="max-height:20em">
                                                    </div>
                                                }
                                            }
                                    }
                                    </div>
                                    <a class="left carousel-control" href="#@carousel" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="#@carousel" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <br/>
                                    <label style="font-size:large">@el.Name</label>
                                    <br/>
                                    @{                                       
                                        if(el.Stock.StockName!="Нет")
                                        {
                                            <h4><s>@el.Price ₽ </s>  @el.StockPrice ₽ &nbsp <a style="color:White; text-shadow: red 0 0 4px;" asp-controller="Stock" asp-action="StockPage" asp-route-StockID="@el.StockID"><strong>Акция</strong></a> </h4> 
                                        }
                                        else
                                        {
                                            <h4>@el.Price ₽</h4>
                                        }
                                    }
                                    <h5>Вид: @el.FurnitureKind.Kind</h5>
                                    <h5>Тип: @el.FurnitureType.Type</h5>
                                    <h5>Цвет: @el.FurnitureColor.ColorName</h5>
                                    <h5>Материал: @el.Material</h5>
                                    <h5>В наличии: @el.Number</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a class="btn btn-info col-lg-12" asp-route-furnitureID="@el.FurnitureID" asp-controller="Furniture" asp-action="FurniturePage">Выбрать</a>
                                    @{
                                        bool k = false;
                                        foreach (var i in ViewBag.Items)
                                        {
                                            if (i == el.FurnitureID)
                                            {
                                                k = true;

                                            }
                                        }
                                        if (k == true)
                                        {
                                            <button class="btn btn-light col-lg-12">В корзине</button>
                                        }
                                        else
                                        {
                                            <a class="btn btn-info col-lg-12" asp-route-Id="@el.FurnitureID" asp-controller="ShopCart" asp-action="addToCart">В корзину</a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        carousel++;
                    }
                }
            </div>
            <div class="col-md-2">
                <a class="btn btn-danger col-md-12" data-toggle="collapse" data-target="#Stock">Акции</a>
                <div class="panel-collapse collapse in row" id="Stock">
                    <div class="table-responsive col-md-12">
                        <table class="table table-bordered">
                            <tbody class="form-check">
                                @foreach(var s in ViewBag.Stock)
                                {
                                    if (s.StockName != "Нет")
                                    {
                                        <tr>
                                            <td align="center" scope="row">
                                                <a asp-route-StockID="@s.StockID" asp-controller="Stock" asp-action="StockPage"><strong>@s.StockName</strong></a>
                                            </td>
                                        </tr>
                                    }
                                }
                            <tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>