@model IEnumerable<FurnitureStore.Data.Models.User>
@{
    ViewBag.Title = "Список пользователей";
}
<h3>Список пользователей</h3>
<a asp-action="Create">Добавить пользователя</a>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <tr><th>Email</th><th>Фамилия</th><th>Имя</th><th>Отчество</th><th></th></tr>
        @foreach (var user in Model)
        {
            <tr>
                <td class="col-md-2">@user.Email</td>
                <td class="col-md-2">@user.SurName</td>
                <td class="col-md-2">@user.Name</td>
                <td class="col-md-2">@user.MiddleName</td>
                <td class="col-md-3">
                    <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>
                        <a class="btn btn-sm btn-primary" asp-action="ChangePassword" asp-route-id="@user.Id">Сменить пароль</a>
                        <button type="submit" class="btn btn-sm btn-danger">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
 </div>
